.Name {

font-family: Roboto Condensed, Times New Roman, serif;
font-size: 18px;
text-decoration: underline;
font-weight: Bold;
}

.Border {
  width: 600px;
  border: 1px solid blue;
  padding-left: 7px;
  
}


* {
  margin: 10px;
}

h1 {
text-align: center;
 width: 1500px;
  height: 500px;
  background-image: url(http://www.stonemountainpetproducts.com/products/kennel/boarding_suites/images/express_kennel_open.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  font-size: 50px;
  color: #fff;
  display: block;
  background-size: cover;
  
}

#Subhead {
  
 position: absolute;
  top: 200px;
 left: 600px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  
}

.Pic {
  
  width: 300px;
  height: 500px;
}

.Link {
  height: 50px;
  width: 100px;
  background-image: -webkit-linear-gradient(#ff2100, #ff00d8);
  border: 5px solid black;
  display: block;
}
