.Name {

font-family: Roboto Condensed, Times New Roman, serif;
font-size: 18px;
text-decoration: underline;
font-weight: Bold;
}

.Border {
  
  border: 1px solid blue;
  padding-left: 7px;
}


* {
  margin: 10px;
  
