.Name {

font-family: Roboto Condensed, Times New Roman, serif;
font-size: 18px;
text-decoration: underline;
font-weight: Bold;
}

.Border {
  width: 600px;
  border: 1px solid blue;
  padding-left: 7px;
}


* {
  margin: 10px;
}

h1 {
  background-image: url(http://www.stonemountainpetproducts.com/products/kennel/boarding_suites/images/express_kennel_open.jpg);
  height: 900px;
  background-repeat: repeat-x;
  background-attachment: fixed;
  font-size: 100px;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 1000px;
}
